html, body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1;
  text-align: center;
  margin: 0;
}

canvas {
  display: block;
}
